<div class="login-container">
	<div class="container h-100">
		<div
			class="h-100 d-flex flex-row flex-wrap justify-content-center align-items-center"
		>
			<div class="col-md-6">
				<img
					src="assets\app-images\undraw_remotely_2j6y.svg"
					alt="Image"
					class="img-fluid"
				/>
			</div>
			<div class="col-md-6 contents">
				<div class="row justify-content-center">
					<div class="col-md-8">
						<app-form-login></app-form-login>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
