<nav class="sidebar-nav">
  <div class="hide-menu sidebar-user-info m-2 ml-1 mr-1">
    <div class="sidebar-user-avatar">
      <app-avatar-image></app-avatar-image>
    </div>
    <div class="ml-2" *ngIf="user$ | async as user">{{ user.email }}</div>
  </div>
  <ul id="sidebarnav">
    <!-- First level menu -->
    <li
      class="sidebar-item"
      [class.active]="showMenu === sidebarnavItem.title"
      *ngFor="let sidebarnavItem of sidebarnavItems"
      [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'"
    >
      <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">
        {{ sidebarnavItem.title }}
      </div>
      <a
        class="sidebar-link waves-effect waves-dark"
        [routerLink]="
          sidebarnavItem.class === '' ? [sidebarnavItem.path] : null
        "
        [ngClass]="[sidebarnavItem.class]"
        *ngIf="!sidebarnavItem.extralink"
        (click)="addExpandClass(sidebarnavItem.title)"
        [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'"
      >
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu">{{ sidebarnavItem.title }}</span>
      </a>
    </li>
    <li class="p-t-40 sidebar-item">
      <button class="sidebar-link waves-effect waves-dark btn btn-block">
        <i class="fa fa-power-off m-r-5"></i>
        <span class="hide-menu">Log out</span>
      </button>
    </li>
  </ul>
</nav>
