<div class="d-flex justify-content-center align-items-center bg-dashboard">
  <!-- <div class="col-md-12"> -->
  <div class="dashboard-cards">
    <ng-container *ngFor="let item of routes">
      <div class="glass indigo" (click)="navigateTo(item.path)">
        <div class="d-flex align-items-center justify-content-center cricle-outline m-2 p-4"><i style="color: white;" class="{{ item.icon }} mdi-48px"></i></div>
        <h4>{{ item.title }}</h4>
      </div>
    </ng-container>
    <!-- </div> -->
  </div>
  <!-- <div class="col-md-9">
    <app-sales-graph></app-sales-graph>
  </div>
  <div class="col-md-3">
    <app-visit-graph></app-visit-graph>
  </div>



  <div class="col-md-6">
    <app-project-of-month></app-project-of-month>
  </div>
  <div class="col-md-6">
    <app-contacts></app-contacts>
  </div>


  <div class="col-md-4">
    <app-cards></app-cards>
  </div>

  <div class="col-md-8">
    <app-website-graph></app-website-graph>
  </div> -->
</div>
